$primary-color: #6f02b5;

.footer {
  width: 100%;
  background: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;

  .container {
    padding: 20px 0 !important;

    .linkIcons {
      svg {
        font-size: 24px;
      }
    }
  }
}